body{
  background-image: url(fondo.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.block-left{
  width: 25%;
  text-align: center;
}

.block-center{
  width:50%;
  text-align: center;
}

.block-rigth{
  width: 25%;
}
