body {
    background-color: PowderBlue;
}

header {
    font-size: small;
}

#p {
    font-size: small;
}

#p1 {
    line-height: 1em;
}

#h1 {
    text-align: center;
    font-size: xx-large;
}

footer {
    font-size: small;
    color: SlateGray;
}
